    <div class="row my_bottom">
        <div class="row  my_bottom_top" >
            <div>
                <p>特别声明：本网页用于学习使用，如果侵权请及时联系，望海涵!</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 my_bottom_middle">
                <ul>
                    <li style="font-size: xx-large">联系方式：</li>
                    <li><img src="/static/images/QQ.png">QQ：34232139</li>
                    <li><img src="/static/images/phone.png">手机：17673139481</li>
                </ul>
            </div>

        </div>
    </div>