<div class="row class_list" style="margin: auto;">
    <div>
        <ul class="list-inline nav nav-pills" >
            <li class="{% if sort_resumes == 'synthesize' %}active{% endif %}"><a href="?sort_resumes=synthesize">综合排名</a></li>
            <li class="{% if sort_resumes == 'hot' %}active{% endif %}"><a href="?sort_resumes=hot">热门下载</a></li>
            <li class="{% if sort_resumes == 'srecently' %}active{% endif %}"><a href="?sort_resumes=srecently">最近上线</a></li>
        </ul>
    </div>
</div>